### 1.Write a Python Program to Find the Factorial of a Number?

In [27]:
n = 6
for i in range(1,n):
    n = n*i
print(n)

720

In [25]:
n = 6
i =1
a = 1
while i <= n:
    a = a * i
    i += 1
print(a)

720

### 2.Write a Python Program to Display the multiplication Table?

In [41]:
for i in range(1,11):
    for j in range(1,11):
        print(' {} * {} = {}'.format(i,j,i*j))
    print('*'* 14)

 1 * 1 = 1
 1 * 2 = 2
 1 * 3 = 3
 1 * 4 = 4
 1 * 5 = 5
 1 * 6 = 6
 1 * 7 = 7
 1 * 8 = 8
 1 * 9 = 9
 1 * 10 = 10
**************
 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20
**************
 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30
**************
 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40
**************
 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50
**************
 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60
**************
 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 7 * 10 = 70
**************
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72
 8 * 10 = 80
**************
 9 * 1 = 9
 9 * 2 = 18
 9 * 3 = 27
 9 * 4 = 36
 9 * 5 = 45
 9 * 6 = 54
 9 * 7 = 63
 9 * 8 = 72
 9 * 9 = 81
 9 * 10 = 90
**************
 10 * 1 = 10
 10 * 2 = 20
 10 * 3 = 30
 10 * 4 = 40
 10 * 5 = 50
 10 * 6 = 60
 10 * 7 = 70
 10 * 8 = 80
 10 * 9 = 90
 10 * 10 = 100
**************

### 3.Write a Python Program to Print the Fibonacci sequence?

In [63]:
n = 11 #1
c = 0
a = 0
b = 1
for i in range(n):
    print(a,end = ' ')
    c = a + b
    b = a
    a = c

0 1 1 2 3 5 8 13 21 34 55

In [64]:
a = 0 #2
b = 1
n = 11

print(a,end = ' ')
if n == 2:
    print(b, end = ' ')
for i in range(2,n):
    c =  a+b
    b = a
    a = c
    print(c, end = ' ')

0 1 1 2 3 5 8 13 21 34

In [8]:
first = 0 #3 
second = 1
n = int(input('Enter a positive number:'))
for i in range(n):
    print(first,end = ' ')
    first, second = second, first + second

Enter a positive number:10
0 1 1 2 3 5 8 13 21 34

### 4.Write a Python Program to Check Armstrong Number?

In [49]:
n = 371 #JUGAAD first time,Drawbacks: Valid only for 3 digit numbers.
a = []
cubedint = ''
b = str(n)
a.extend(b)
cubedint = cubedint + str((int(a[0])**3+int(a[1])**3+int(a[2])**3))
if int(cubedint) == n:
    print('It is an armstrong number.')
else:
    print('Not an armstrong number.')

It is an armstrong number.

In [71]:
n = int(input('Enter the number to be checked: '))
r = 0
c = 0
sum = 0
temp = n
while n > 0:
    r = n % 10
    c = r * r * r
    sum = sum + c
    n = n // 10

n = temp  
if sum == n:
    print('Armstrong Number.')
else:
    print('Not an Armstrong Number.')

Enter the number to be checked: 153
Armstrong Number.

### 5.Write a Python Program to Find Armstrong Number in an Interval?

In [2]:
upper = 1000
lower = 1
for num in range(lower , upper + 1):
    sum = 0
    temp = num
    
    while temp > 0:
        r = temp % 10
        c = r * r * r
        sum = sum + c
        temp = temp // 10
    
    if num == sum:
        print(num)

1
153
370
371
407

### 6. Write a Python Program to Find the Sum of Natural Numbers?

In [2]:
n = int(input('Enter the number: '))
print(int(n*(n+1)/2))

Enter the number: 20
210