# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t')

### Step 4. How many products cost more than $10.00?

In [7]:
dollarizer = lambda x: float(x[1:])
chipo['item_price']=chipo['item_price'].apply(dollarizer)

In [15]:
a = (chipo[chipo["item_price"] > 10])

In [17]:
len(a)

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [19]:
a[['item_name','item_price']]

               item_name  item_price
4           Chicken Bowl       16.98
5           Chicken Bowl       10.98
7          Steak Burrito       11.75
13          Chicken Bowl       11.25
23       Chicken Burrito       10.98
...                  ...         ...
4610       Steak Burrito       11.75
4611      Veggie Burrito       11.25
4617       Steak Burrito       11.75
4618       Steak Burrito       11.75
4619  Chicken Salad Bowl       11.25

[1130 rows x 2 columns]

### Step 6. Sort by the name of the item

In [20]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [24]:
chipo[['item_price','item_name']].sort_values(by='item_price',ascending=False).head(1)

      item_price                     item_name
3598       44.25  Chips and Fresh Tomato Salsa

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [33]:
chipo.groupby('item_name').sum().sort_values(by='quantity',ascending=False)

                                       order_id  quantity  item_price
item_name
Chicken Bowl                             713926       761     7342.73
Chicken Burrito                          497303       591     5575.82
Chips and Guacamole                      449959       506     2201.04
Steak Burrito                            328437       386     3851.43
Canned Soft Drink                        304753       351      438.75
Chips                                    208004       230      494.34
Steak Bowl                               193752       221     2260.19
Bottled Water                            175944       211      302.56
Chips and Fresh Tomato Salsa             100419       130      361.36
Canned Soda                               76396       126      137.34
Chicken Salad Bowl                       117104       123     1228.75
Chicken Soft Tacos                        98395       120     1108.09
Side of Chips                             84769       110      185.90
Veggie Burrito                            80962        97      934.77
Barbacoa Burrito                          74718        91      894.75
Veggie Bowl                               72270        87      867.99
Carnitas Bowl                             62742        71      736.71
Barbacoa Bowl                             53972        66      672.36
Carnitas Burrito                          51652        60      597.83
Steak Soft Tacos                          50177        56      536.05
6 Pack Soft Drink                         52322        55      356.95
Chips and Tomatillo Red Chili Salsa       45556        50      147.50
Chicken Crispy Tacos                      47382        50      472.13
Chips and Tomatillo Green Chili Salsa     41170        45      132.75
Carnitas Soft Tacos                       37673        40      375.94
Steak Crispy Tacos                        35818        36      357.34
Chips and Tomatillo-Green Chili Salsa     21826        33       78.87
Steak Salad Bowl                          29590        31      343.59
Nantucket Nectar                          21814        29       98.31
Chips and Tomatillo-Red Chili Salsa       18344        25       59.75
Barbacoa Soft Tacos                       18725        25      250.46
Chips and Roasted Chili Corn Salsa        14999        23       67.85
Izze                                      10587        20       67.80
Veggie Salad Bowl                         17303        18      182.50
Chips and Roasted Chili-Corn Salsa        17462        18       43.02
Barbacoa Crispy Tacos                      5613        12      120.21
Barbacoa Salad Bowl                        9708        10      106.40
Chicken Salad                             10465         9       81.09
Carnitas Crispy Tacos                      5868         8       77.96
Veggie Soft Tacos                          5520         8       73.96
Burrito                                    1550         6       44.40
Veggie Salad                               7265         6       50.94
Carnitas Salad Bowl                        6693         6       66.34
Bowl                                        472         4       29.60
Steak Salad                                2362         4       35.66
Salad                                      1150         2       14.80
Crispy Tacos                                434         2       14.80
Chips and Mild Fresh Tomato Salsa           279         1        3.00
Carnitas Salad                             1500         1        8.99
Veggie Crispy Tacos                         668         1        8.49

In [37]:
chipo[(chipo['item_name'] == 'Veggie Salad Bowl')].groupby('item_name').sum()

                   order_id  quantity  item_price
item_name
Veggie Salad Bowl     17303        18       182.5

### Step 9. How many times did someone order more than one Canned Soda?

In [44]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo.quantity > 1)]

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18

In [ ]:
chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]