### **1. What are the differences between operators and values in the following?**
***
* *
* 'hello'
* -87.8
* -
* /
* +
* 6

#### **Ans:**
*** :** It is a multiplication operator. <br>
**'hello':** It is a value(string).<br>
**-87.8 :** It is a value(float).<br>
**- :** It is a subtraction operator.<br>
**/ :** It is a division operator.<br>
**+ :** It is an addition operator.<br>
**6 :** It is a value(int).<br>

#### _**Operators: Operators are used to perform operations on variables and values.**_
#### _**Variables: Variables acts as a placeholder to represent the values / data.**_

### **2. What is the difference between string and variable?**
***
* spam
* 'spam'

####  **Ans:**
 _**spam**_  : Acts as a placeholder to hold the data.<br>
 _**'spam'**_ : Acts as a data stored in the format of string.<br>
 _**String**_ : It is surrounded by either ' ' or " " or """ """

In [2]:
type('str')

str

In [3]:
type("str")

str

In [4]:
spam = 10
spam = 'spam'
spam = 10.0
spam = 45 + 6j
spam = True

### **3. Describe three types of data forms.**
***
#### **Ans:**
    1. List
        l = [1,2,3,4,5]
    2. Tuples
        t = (1,2,3,4,5)
    3. Dictionary
        d = {a:1,b:2,c:3}
    4. Set
        s = {1,2,3,4,5}
***

### **4. What makes up an expression? What are the functions of all expressions?**
***
#### **Ans:**
<font color=blue|green> _**An Expression is made by combination of datatypes, values and variables.**_ </font><br>
<font color=blue|green> _**It is used to perform any mathematical operation with the values or concatenate the values.**_ </font>

---

### **5. In this chapter, assignment statements such as spam = 10 were added. What is the difference between declaration and an expression?**
***
#### **Ans:**
<font color=blue|green> _**An expression evaluates to a value.<br> A statement/declaration represents a command or action.<br>
Ex: spam = 10 is a declaration
Spam + 10 is an expression.**_ </font><br>
***

### **6.After running the following code, what does the variable bacon contain?**
***
#### **Ans.**

In [7]:
Bacon = 22
Bacon + 1

23

In [8]:
Bacon

22

_**Bacon contains 22 as we haven't assigned this value to a variable.**_
***

### 7. What should the values of the following two terms be?

'spam' + 'spamspam' <br>
'spam' * 3<br>
<font color=blue|green> _**+ Operator concatenates the strings.**_ </font><br>
<font color=blue|green> _*** operator multiplies the strings.**_ </font><br>

In [10]:
'spam' + 'spamspam'

'spamspamspam'

In [11]:
'spam' * 3

'spamspamspam'

### 8. Why is it that eggs is a true variable name but 100 is not?
#### Ans.
****

_**A variable name cannot start with a number(0-9) or special chars such as (#,%,$,&)('Cannot be added inside a variable as well') also it cannot contain the special chars in it.<br>
A variable should follow either one of these conventions:<br>
Snakecase: Words are delimited by an underscore.<br>
Pascalcase: Words are delimited by capital letters.<br>
Camelcase: Words are delimited by capital letters, except the initial word.**_
***

### 9. Which of the following three functions may be used to convert a value to an integer, a floating point number or a string?
#### Ans.
***
_**Suppose, a = ‘123’<br>
Type conversion is as follows:<br>
Conv = int(a)<br>
Conv = float(a)<br>
Conv = str(a)**_
***

### 10. What is the error caused by this expression? What would you do about it?
'I have eaten ' + 99 + ' burritos.'

In [12]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

### To resolve this,

In [13]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'